h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 img {
  margin-right: 1em;
}
table {
  max-width: 1600px;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

thead {
  text-align: left;
}

tbody > tr:nth-child(2n) {
  background: #f5f5f5;
}

img {
  max-width: 40px;
}

td.correct {
  background: green;
}

td.incorrect {
  background: rgb(106, 3, 3);
}

td {
  width: 7%;
}

td.wide {
  width: 15%;
}

td.narrow {
  width: 5%;
}

td.logo {
  text-align: center;
}

div.series {
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  color: rgb(199, 199, 199);
}

span.correct-games {
  font-weight: 900;
  color: white;
}

div.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#last-updated {
  max-width: 100ch;
  margin: auto;
  margin-top: 2em;
}
footer {
  max-width: 100ch;
  margin: auto;
}
